/* * { border: 1px solid #f00; } */

html { font-size: 10px; } 

/* header START */
.header { max-width: 128rem; display: flex; margin: 0 auto; background: #fff; border-bottom: 1px solid #d9dbe1; padding: 18px 20px; } 
.header .header_logo { display: flex; } 

/* gnb START */
.header .gnb { line-height: 50px; margin: 0 auto; } 
.header .gnb>ul { display: flex; } 
.header .gnb>ul>li { position: relative; font-size: 18px; font-weight: 700; letter-spacing: -0.025em; } 
.header .gnb>ul>li a { display: block; padding: 3px 17px; } 
.header .gnb>ul>li ul { display: none; position: absolute; top: 100px; left: 50%; z-index: 999; width: 150px; line-height: 40px; transform: translateX(-50%); text-align: center; background: #ff0; } 
.header .gnb>ul>li:hover ul { display: block; } 
.mbtn { display: none; position: fixed; top: 30px; right: 30px; font-size: 30px; background: #f7f7f7; padding: 5px; line-height: 1; } 

@media (max-width:768px) { /* .header { line-height: 100px; } */
 .header .container { display: flex; width: auto; margin: 0 auto; } 
 .header .gnb { position: fixed; top: 0; left: -100%; z-index: 999; width: calc(100% - 90px); height: 100vh; background: #fff; margin: 0 0 0 auto; transition: 0.5s; } 
 .header .gnb.on { left: 0; } 
 .header .gnb>ul { display: flex; flex-direction: column; line-height: 40px; } 
 .header .gnb>ul>li { position: relative; } 
 .header .gnb>ul>li a { display: block; padding: 0 25px; } 
 .header .gnb>ul>li ul { display: none; position: static; top: 100px; left: 50%; z-index: 999; width: auto; line-height: 40px; transform: translateX(0); text-align: center; background: #ff0; } 
 .header .gnb>ul>li:hover ul { display: none; } 
 .mbtn { display: block; } 
 }

 /* Util START */
.header .util_list { display: flex; margin: 0 auto; line-height: 50px; } 
.header .util_list .login { text-align: center; font-size: 16px; font-weight: 700; letter-spacing: -0.025em; padding: 5px 10px 0 0; } 
.header .util_list li { padding: 0 0 0 10px; } 

/* Main START */
/* .main { overflow-x: hidden; } */
/* Chatbot START */
.chatbot_banner { bottom: 1.1rem; right: 2.9rem; font-size: 1.8rem; line-height: 1.35; z-index: 50; position: fixed; word-break: break-all; bottom: 100px; right: 100px; } 
.chatbot_container { position: relative; display: block; } 
/* .chatbot_bot { position: absolute; background-image: url(../img/99_chatbot/webchat_fb_70x88_5000.png); background-repeat: no-repeat; background-size: auto 88px; width: 70px; height: 88px; } */
.chatbot_bot { position: absolute; background-image: url(../img/99_chatbot/webchat_fb_70x88_5000.png); background-position: 0px 0px; background-repeat: no-repeat; background-size: auto 88px; width: 70px; height: 88px; animation: chatbot_ani 10s infinite alternate; animation-timing-function: steps(1); } 
/* 82프레임 */
@keyframes chatbot_ani{
	from{ background-position: 0px 0px;width: 70px;height: 88px; }
	1%{ background-position: -70px 0px;width: 70px;height: 88px; }		
	2%{ background-position: -140px 0px;width: 70px;height: 88px; }
	3%{ background-position: -210px 0px;width: 70px;height: 4; }
	4%{ background-position: -280px 0px;width: 70px;height: 88px; }
    5%{ background-position: -350px 0px;width: 70px;height: 88px; }
    6%{ background-position: -420px 0px;width: 70px;height: 88px; }
    7%{ background-position: -490px 0px;width: 70px;height: 88px; }
	8%{ background-position: -560px 0px;width: 70px;height: 88px; }
    9%{ background-position: -630px 0px;width: 70px;height: 88px; }
    10%{ background-position: -700px 0px;width: 70px;height: 88px; }
    11%{ background-position: -770px 0px;width: 70px;height: 88px; }
	12%{ background-position: -840px 0px;width: 70px;height: 88px; }
    13%{ background-position: -910px 0px;width: 70px;height: 88px; }
    14%{ background-position: -980px 0px;width: 70px;height: 88px; }
    15%{ background-position: -1050px 0px;width: 70px;height: 88px; }
	16%{ background-position: -1120px 0px;width: 70px;height: 88px; }
    17%{ background-position: -1190px 0px;width: 70px;height: 88px; }
    18%{ background-position: -1260px 0px;width: 70px;height: 88px; }
    19%{ background-position: -1330px 0px;width: 70px;height: 88px; }
	20%{ background-position: -1400px 0px;width: 70px;height: 88px; }
    21%{ background-position: -1470px 0px;width: 70px;height: 88px; }
    22%{ background-position: -1540px 0px;width: 70px;height: 88px; }
    23%{ background-position: -1610px 0px;width: 70px;height: 88px; }
	24%{ background-position: -1680px 0px;width: 70px;height: 88px; }
    25%{ background-position: -1750px 0px;width: 70px;height: 88px; }
    26%{ background-position: -1820px 0px;width: 70px;height: 88px; }
    27%{ background-position: -1890px 0px;width: 70px;height: 88px; }
	28%{ background-position: -1960px 0px;width: 70px;height: 88px; }
    29%{ background-position: -2030px 0px;width: 70px;height: 88px; }
    30%{ background-position: -2100px 0px;width: 70px;height: 88px; }
    31%{ background-position: -2170px 0px;width: 70px;height: 88px; }
	32%{ background-position: -2240px 0px;width: 70px;height: 88px; }
    33%{ background-position: -2310px 0px;width: 70px;height: 88px; }
    34%{ background-position: -2380px 0px;width: 70px;height: 88px; }
    35%{ background-position: -2450px 0px;width: 70px;height: 88px; }
	36%{ background-position: -2520px 0px;width: 70px;height: 88px; }
    37%{ background-position: -2590px 0px;width: 70px;height: 88px; }
    38%{ background-position: -2660px 0px;width: 70px;height: 88px; }
    39%{ background-position: -2730px 0px;width: 70px;height: 88px; }
	40%{ background-position: -2800px 0px;width: 70px;height: 88px; }
    41%{ background-position: -2870px 0px;width: 70px;height: 88px; }
    42%{ background-position: -2940px 0px;width: 70px;height: 88px; }
    43%{ background-position: -3010px 0px;width: 70px;height: 88px; }
	44%{ background-position: -3080px 0px;width: 70px;height: 88px; }
    45%{ background-position: -3150px 0px;width: 70px;height: 88px; }
    46%{ background-position: -3220px 0px;width: 70px;height: 88px; }
    47%{ background-position: -3290px 0px;width: 70px;height: 88px; }
    48%{ background-position: -3360px 0px;width: 70px;height: 88px; }
    49%{ background-position: -3430px 0px;width: 70px;height: 88px; }
    50%{ background-position: -3500px 0px;width: 70px;height: 88px; }
    51%{ background-position: -3570px 0px;width: 70px;height: 88px; }
    52%{ background-position: -3640px 0px;width: 70px;height: 88px; }
    53%{ background-position: -3710px 0px;width: 70px;height: 88px; }
	54%{ background-position: -3780px 0px;width: 70px;height: 88px; }
    55%{ background-position: -3850px 0px;width: 70px;height: 88px; }
    56%{ background-position: -3920px 0px;width: 70px;height: 88px; }
    57%{ background-position: -3990px 0px;width: 70px;height: 88px; }
    58%{ background-position: -4060px 0px;width: 70px;height: 88px; }
    59%{ background-position: -4130px 0px;width: 70px;height: 88px; }
    60%{ background-position: -4200px 0px;width: 70px;height: 88px; }
    61%{ background-position: -4270px 0px;width: 70px;height: 88px; }
    80%{ background-position: -4340px 0px;width: 70px;height: 88px; }
    81%{ background-position: -4410px 0px;width: 70px;height: 88px; }
	82%{ background-position: -4480px 0px;width: 70px;height: 88px; }
    83%{ background-position: -4550px 0px;width: 70px;height: 88px; }
    84%{ background-position: -4620px 0px;width: 70px;height: 88px; }
    85%{ background-position: -4690px 0px;width: 70px;height: 88px; }
    86%{ background-position: -4760px 0px;width: 70px;height: 88px; }
    87%{ background-position: -4830px 0px;width: 70px;height: 88px; }
    88%{ background-position: -4900px 0px;width: 70px;height: 88px; }
    89%{ background-position: -4970px 0px;width: 70px;height: 88px; }
    90%{ background-position: -5040px 0px;width: 70px;height: 88px; }
    91%{ background-position: -5110px 0px;width: 70px;height: 88px; }
	92%{ background-position: -5180px 0px;width: 70px;height: 88px; }
    93%{ background-position: -5250px 0px;width: 70px;height: 88px; }
    94%{ background-position: -5320px 0px;width: 70px;height: 88px; }
    95%{ background-position: -5390px 0px;width: 70px;height: 88px; }
    96%{ background-position: -5460px 0px;width: 70px;height: 88px; }
    97%{ background-position: -5530px 0px;width: 70px;height: 88px; }
    98%{ background-position: -5600px 0px;width: 70px;height: 88px; }
    99%{ background-position: -5670px 0px;width: 70px;height: 88px; }
    100%{ background-position: -5740px 0px;width: 70px;height: 88px; }
}

/* Main Visual START */
.main_visual { position: relative; overflow-x: hidden; } 
.main_slider figure { height: 480px; } 
.main_slider .inner { position: absolute; top: 12.4rem; left: 50px; text-shadow: 1px 1px 1px #fff; } 
.main_slider .inner .slogan { font-size: 3rem; line-height: 1.5; font-weight: 700; letter-spacing: -0.025em; margin: 0 0 4rem; } 
.main_slider .inner p { font-size: 1.7rem; font-weight: 700; letter-spacing: -0.025em; padding: 10px 0 0 0; } 
.main_slider .inner a { display: inline-block; font-size: 2rem; font-weight: 700; letter-spacing: -0.025em; } 
.main_slider .inner a img { display: inline-block; } 
.main_slider .itm01 figure { background: url(../img/02_main_slider/main_banner01_pc.jpg) center center/cover no-repeat; } 
.main_slider .itm02 figure { background: url(../img/02_main_slider/main_banner02_pc.jpg) center center/cover no-repeat; } 
.main_slider .itm03 figure { background: url(../img/02_main_slider/main_banner03_pc.jpg) center center/cover no-repeat; } 
.main_slider .itm04 figure { background: url(../img/02_main_slider/main_banner04_pc.jpg) center center/cover no-repeat; } 
/* Slide Util START */
.main_visual .slide_util { position: absolute; background: rgba(0, 0, 0, 0.5); border-radius: 18px; bottom: 50px; left: 50px; font-size: 1.4rem; font-weight: 700; color: #fff; padding: 0.6rem 1rem; } 

/* mfnb START */
.mfnb { max-width: 128rem; margin: 6rem auto; } 
.mfnb .mfnb_list { display: flex; justify-content: center; font-size: 2rem; font-weight: 700; } 
.mfnb .mfnb_list a { padding: 1rem 10rem; align-items: center; } 
.mfnb .mfnb_list li~li::before { content: ""; display: inline-block; width: 1px; height: 2rem; background: #d2d2d7; } 
.mfnb .mfnb_list li img { margin-right: 0.8rem; } 

/* lineb_notice START */
.lineb_notice { max-width: 128rem; margin: 6rem auto; } 
.lineb_notice figure { width: 100%; background: url(../img/04_notice_banner/line_banner01_pc.png) center right/cover no-repeat; padding: 3rem 4rem; margin: 0 0 60px 0; } 
.lineb_notice h2 { font-size: 1.8rem; font-weight: 700; color: #00256c; margin: 0 0 1.4rem 0; } 
.lineb_notice p { font-size: 1.6rem; font-weight: 600; color: #00256c; } 

/* trip trip_slider START */
.trip { max-width: 128rem; margin: 6rem auto; position: relative; overflow-x: hidden; } 
.trip h2 { font-size: 2rem; font-weight: 700; color: #1a1a1a; margin: 0 0 2rem 0; letter-spacing: -0.025em; } 
/* .trip::after { content: ""; background: #f3f4f8 center center/cover; height: auto; width: 100%; } 
.trip_slider { max-width: 128rem; overflow-x: hidden; } */
.trip_slider .slide a { position: relative; } 
.trip_slider .slide figure img { width: calc((100% - 12rem)/5); min-width: 23.2rem; max-width: 23.2rem; height: auto; vertical-align: top; } 
.trip_slider .inner { position: absolute; top: 0; left: 0; padding: 2rem; width: 23.2rem; } 
.trip_slider .inner p { font-size: 1.4rem; font-weight: 600; color: #000; margin-bottom: 1rem; } 
.trip_slider .inner .title { font-size: 1.6rem; font-weight: 600; margin-bottom: 1.2rem; } 
.trip_slider .inner .price { font-size: 1.6rem; font-weight: 700; color: #11277b; } 
.trip .slide_util .prev { position: absolute; top: 50%; left: 0; } 
.trip .slide_util .next { position: absolute; top: 50%; right: 0; } 

/* sub_banner START */
.sub_banner { background: #f3f4f8; padding: 1rem; margin-bottom: 6rem; } 
.sub_banner .container { max-width: 128rem; margin: 6rem auto; display: flex; gap: 30px; } 
.sub_banner .container div { background: #fff; width: calc((100% - 3rem)/2); } 
.sub_banner .container div a { position: relative; display: block; padding: 3rem; justify-content: right; } 
.sub_banner .container div a::after { content: ''; position: absolute; background: url(../img/05_trip/link_arrow.svg) center center/cover no-repeat; padding: 1rem 2rem; top: 50%; right: 3rem; transform: translateY(-50%); } 
.sub_banner h3 { font-size: 1.8rem; font-weight: 700; color: #000; margin-bottom: 1rem; } 
.sub_banner p { font-size: 1.6rem; font-weight: 500; color: #606060; } 

/* checkin START */
.checkin { max-width: 128rem; margin: 0 auto; display: flex; align-items: center; margin-bottom: 12rem; } 
.checkin figure { position: relative; min-width: 62.6rem; max-width: 62.6rem; height: 30rem; margin-right: 13.7rem; } 
.checkin figure::after { content: ''; position: absolute; right: -5rem; min-width: 99.6rem; width: 100%; height: 28.4rem; z-index: -1; bottom: -5rem; background: url(../img/06_checkin/msgi_bg_pc.svg) center left/cover no-repeat; } 
.checkin figure img { width: 100%; vertical-align: top; } 
.checkin .text { letter-spacing: -0.025em; } 
.checkin .text .tit { font-size: 2.4rem; font-weight: 700; margin-bottom: 1.6rem; } 
.checkin .text p { font-size: 1.6rem; font-weight: 500; color: #555; line-height: 4rem; margin-bottom: 3rem; } 
.checkin .text a { font-size: 1.8rem; font-weight: 700; color: #00256c; letter-spacing: -0.025em; } 
.checkin .text a img { margin-left: 1rem; } 

/* lineb_newskypass START */
.lineb_newskypass { max-width: 128rem; margin: 6rem auto; } 
.lineb_newskypass figure { width: 100%; background: url(../img/07_new_skypass/line_banner02_pc.png) center right/cover no-repeat; padding: 3rem 4rem; margin: 0 0 60px 0; } 
.lineb_newskypass h2 { font-size: 1.8rem; font-weight: 700; color: #00256c; margin: 0 0 1.4rem 0; } 
.lineb_newskypass p { font-size: 1.6rem; font-weight: 600; color: #00256c; } 

/* service_link START */
.service_link { max-width: 128rem; margin: 6rem auto; position: relative; overflow-x: hidden; } 
.service_link h2 { font-size: 2rem; font-weight: 700; color: #1a1a1a; margin: 0 0 2rem 0; letter-spacing: -0.025em; } 
.service_link p { font-size: 1.6rem; font-weight: 700; color: #1a1a1a; letter-spacing: -0.025em; } 
.service_list { display: flex; margin: 3rem 0; border: 1px solid #d9dbe1; } 
.service_list li { position: relative; padding: 3rem; flex: 1; } 
.service_list li~li::before { content: ""; display: block; position: absolute; top: calc(50% - 2rem); left: 0; width: 1px; height: 4rem; background-color: #d9dbe1; } 
.service_list li a { width: calc(100% / 6); padding: 0 1.3rem 0 1.4rem; text-align: center; } 
.service_list li img { display: block; width: 4.8rem; margin: 0 auto 0.4rem auto; } 
.service_list li p { display: block; } 

/* footer START */
.footer { background: #f5f5f7; } 
.footer .container { max-width: 128rem; margin: 6rem auto 0 auto; position: relative; overflow-x: hidden; display: flex; padding: 4rem 0; border-bottom: 1px solid #ddd; } 
.footer .directory { display: flex; } 
.footer .directory dl { margin-right: 10rem; } 
.footer .directory dl>dt { font-size: 1.6rem; font-weight: 700; color: #000; letter-spacing: -0.025em; margin: 0 0 1.4rem 0; } 
.footer .directory dl>dd { font-size: 1.4rem; font-weight: 500; color: #555; letter-spacing: -0.025em; margin: 0 0 1.1rem 0; } 

.fast_link { justify-content: end; margin: 0 0 auto auto; } 
.fast_link a { display: block; } 
.fast_link .sns { display: flex; justify-content: end; gap: 0.6rem; margin-bottom: 1.4rem; } 
.fast_link .download_link { display: flex; } 
.fast_link .download_link .playstore { margin-left: 1rem; } 

.copyright { max-width: 128rem; margin: 0 auto; padding: 6rem 0; text-decoration: none; font-size: 1.4rem; font-weight: 500; color: #888; line-height: 2.4rem; } 
.copyright address { font-style: normal; text-decoration: none; } 