/* * { outline: 1px solid #f00; } */


/* Header Start */
#header { border-bottom: 1px solid #e6e6e7; }
#header .container { width: 1200px; margin: 0 auto; padding: 25px 0 30px 0; }
/* Gnb Start */
.gnb { display: flex; justify-content: right; text-align: center; margin: 0 0 14px 0; }
.gnb ul { display: flex; color: #555555; }
.gnb ul li { font-family: 'malgun'; font-weight: 300; font-size: 11px; letter-spacing: -0.025rem; padding: 3px 0 0 0; }
.gnb ul li:nth-last-child(1) {  font-family: malgun; font-weight: 300; font-size: 12px; transform: translateY(1px); padding-right: 6px; letter-spacing: 0; }
.gnb ul li:not(:last-of-type)::after { content: ""; display: inline-block;
width: 1px; height: 6px;background: #d2d2d7; margin: 0 8px 0 8px; }
.gnb ul li a { vertical-align: middle; }
.gnb button { background: #fbfbfd; border: 1px solid #efefef; padding: 2px 6px 3px 7px; border-radius: 10px; outline: none; font-family: 'malgun'; font-weight: 700; font-size: 11px; color: #555555; letter-spacing: -0.025rem; cursor: pointer; }
/* Gnb End */
/* Nav Start */
.nav { display: flex; align-items: center; }
.nav h1 { padding-right: 8px; }
.nav h1 img { height: 30px;}
.brd { padding-right: 30px; }

/* Ranking Start */
.ranking_slider { width: 180px; height: 18px; overflow: hidden; }
.ranking_slider li>* { display: inline-block; vertical-align: middle; }
.ranking_slider li .num { font-size: 19px; font-weight: 800; color: #007cff; }
.ranking_slider li p { font-size: 13px; font-weight: 700; color: #1d1d1f; }
.ranking_slider i.xi-caret-up-min { font-size: 16px; color: #f93636; }
.ranking_slider i.xi-caret-down-min { font-size: 16px; color: #2997ff; }
.ranking_slider  li>*:nth-last-child(1) { padding-bottom: 2px; }
/* Ranking End */
/* Search Start */
/* Gradient border Start */
.search {
--borderWidth: 1px;
background: #fff;
position: relative;
border-radius: 15px;
width: 215px;
margin-right: 30px;
vertical-align: middle;
padding: 4px 0 5px 0;
}
.search:after {
content: '';
position: absolute;
top: calc(-1 * var(--borderWidth));
left: calc(-1 * var(--borderWidth));
height: calc(100% + var(--borderWidth) * 2);
width: calc(100% + var(--borderWidth) * 2);
background: linear-gradient(90deg, #005ec1, #007cff, #00d4ea, #4beeff);
border-radius: 15px;
z-index: -1;
animation: animatedgradient 3s ease alternate infinite;
background-size: 300% 300%;
}  
@keyframes animatedgradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
/* Gradient border End */
.search input { font-family: 'apple'; font-size: 13px; font-weight: 300; color: #999999; border: none; outline: none; background: transparent; padding: 0 0 0 13px; width: 183px; }
.search i { color: #999999; font-size: 17px; }

/* Search End */

.nav .main_menu { display: flex; margin: auto 0 auto auto; gap: 30px; padding: 4px 0 0 0; }
.nav .main_menu li { font-size: 17px; font-weight: 700; color: #1d1d1f; }
.nav .main_menu li:hover { color: #1b82ee; }
/* Nav End */


/* Header End */
/* Main Start */
.main .container {width: 1200px; margin: 0 auto;}


/* Main End */
/* Footer Start */
#footer {
    background: #f5f5f7;
}

#footer .container {
    width: 1200px;
    margin: 0 auto;
}

#footer .directory {
    display: flex;
    padding: 40px 0 25px 0;
    border-bottom: 1px solid #d2d2d7;
}

#footer .directory dl {
    flex: 1;
}

#footer .directory dl>dt {
    font-size: 13px;
    font-weight: 500;
    color: #555555;
    letter-spacing: -0.025em;
    margin: 0 0 15px 0;
}

#footer .directory dl>dd {
    font-size: 13px;
    font-weight: 400;
    color: #6e6e73;
    letter-spacing: -0.025em;
    margin: 0 0 15px 0;
}

#footer .gl_footer {
    display: flex;
    padding: 40px 0 40px 0;
}

#footer .gl_footer>a>img {
    width: 89px;
}

#footer .gl_footer .copy {
    margin: 6px 0 0 100px;
}

#footer .gl_footer .copy dl {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    color: #6e6e6e;
    margin: 0 0 18px 0;
}

#footer .gl_footer .copy dd~dd::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #d2d2d7;
    margin: 0 10px;
}

#footer .gl_footer .copyright {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    font-style: normal;
}

#footer .gl_footer .copyright address {
    margin: 0 30px 0 0;
}

#footer .gl_footer .family_link {
    margin: auto 0 auto auto;
}

#footer .gl_footer select {
    font-size: 13px;
    font-weight: 300;
    background: transparent;
    color: #6e6e73;
    padding: 10px 13px;
    border: 1px solid #999999;
    outline: none;
}

#footer .gl_footer select option {
    color: #fff;
    background: #333;
}
/* Footer End */