:root { --black : #1d1d1f; --br_gray: #f5f5f7; --w_light-gray : #979797; --w_dark-gray : #464646; --w_light-black : #5c5c5c; --dark_gray : #4d4d4d; --d_white : #efefef; --d_light-gray : #999999; --d_dart-gray : #4d4d4d; --blue : #06c; --bg : #fbfbfc; } 

html { font-size: 10px; } 
body { overflow: hidden; background: var(--bg); } 
.wrap { height: 100vh; padding: 20px; } 
/* !------------------ 이 위로 공통 적용 style ------------------! */


/* !------------------ 헤더 시작 ------------------! */
.header { position: relative; transition: 0.5s; z-index: 999; } 
/* .header .container { } */
.header .header_logo { position: fixed; top: 2rem; left: 50%; transform: translateX(-50%); background: var(--bg); width: 100%; padding-bottom: 2rem; } 
.header h1 { width: 180px; margin: 0 auto; } 

/* gnb START */
.header .gnb { visibility: hidden; opacity: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: hidden; padding: auto; transition: 0.5s; z-index: 999; } 
.header .gnb.open { visibility: visible; opacity: 1; } 

.header .gnb>ul { display: flex; flex-direction: column; text-align: center; font-size: 2.0rem; font-weight: 300; color: var(--d_dart-gray); } 
.header .gnb>ul>li { width: 180px; transition: 0.5s; } 
.header .gnb>ul>li:hover { color: var(--black); } 
.header .gnb>ul>li a { display: block; padding: 24px 0 23px 0; } 

/* 애플 모바일 메뉴 카피 */
.menu-container { height: 48px; width: 48px; cursor: pointer; position: fixed; top: 14px; right: 14px; z-index: 999; } 
.menu-container .line { height: 40px; width: 40px; position: absolute; left: 4px; top: 4px; transition: transform 120ms ease-in-out; } 
.menu-container .line-inner { height: 1px; width: 19px; background: #222; position: absolute; transition: transform 120ms ease-in-out; transition-delay: 100ms; } 
.menu-container .line-inner-1 { top: 20px; left: 10px; transform: translateY(-4px); } 
.menu-container .line-inner-2 { bottom: 20px; left: 10px; transform: translateY(4px); } 
.menu-container.active .line-1 { transform: rotateZ(45deg); } 
.menu-container.active .line-2 { transform: rotateZ(-45deg); } 
.menu-container.active .line-inner { transform: none; transition: transform 120ms ease-in-out; } 
.menu-container.active .line { transition-delay: 120ms; } 

/* 메뉴 열렸을때 바깥 bg 블러blur 효과 */
.back_drop { height: 100vh; width: 100vw; top: 0; left: 0; position: fixed; opacity: 0; visibility: hidden; transition: 0.5s; z-index:1; -ms-backdrop-filter: blur(33px); -webkit-backdrop-filter: blur(33px); -moz-backdrop-filter: blur(33px); -o-backdrop-filter: blur(33px); backdrop-filter: blur(33px); background-color: rgba(251, 251, 252, 0.7); } 
.back_drop.on { opacity: 1; visibility: visible; } 





/* !------------------ 메인 시작 ------------------! */
/* Main START */

/* Main Visual START */
.main_visual { position: relative; overflow: hidden; } 
/* .main_visual .container { }  */

/* 그림 부분 시작 */
.gallery { width: 100%; transition: width 0.75s; } 
.gallery.push { width: 60%; } 
.gallery figure { margin: 0 auto; padding: 10rem 0; } 
.gallery figure a { display: block; width: 100%; height: calc(100ch - 2rem); background: url(../img/pic/Woman-with-a-Parasol.jpg) no-repeat center center/contain; } 
.gallery figure a:hover { cursor : url(../img/guide_cursor.cur) 48 48; } 
/* .. 왜 안나올까나.. 일단 패스.. */



/* 우측 설명글 시작 */
.guide { position: absolute; top: 50%; right: -50%; transform: translateY(-50%); width: 40%; font-size: 3rem; padding: 2rem; transition: right 0.75s; } 
.guide.push { right: 0; } 








/* 모바일 반응형 */
/* 태블릿 pc 별도 */







/* @media (min-width:769px) and (max-width:1024px) { } */

@media (max-width:768px) { /* body.on { position: fixed; overflow: hidden; touch-action: none; } */

.header h1 { width: 180px; margin: 0 auto auto 2rem; } 

/* Main Visual START 모바일 */
.main_visual { position: relative; overflow: hidden; } 

/* 그림 부분 시작 */
.gallery { width: 100%; transition: 0.75;} 
.gallery.push { width: 100%; } 
.gallery figure {  height: 100vh; padding: 5.8rem 0; margin: 0 auto auto auto; } 
.gallery figure a { display: block; width: 100%; height: 90%; background: url(../img/pic/Woman-with-a-Parasol.jpg) no-repeat center center/contain; transition: 0.75s; } 
.gallery.push figure a { height: 76%;} 

/* 우측 설명글 시작 모바일 */
.guide { position: absolute; top: inherit; bottom: -100%; right: 0; left: 0; transform: translateX(-50%), translateY(-50%); width: 100%; height: 40%; font-size: 2.4rem; padding: 2rem; background: linear-gradient(transparent, #fbfbfc 40%); opacity: 0; transition: bottom 0.75s, opacity 0.75s } 
.guide.push {bottom: -20%; opacity: 1; right: inherit;} 

}